.ReactTable
    width 98%
    margin 2% 1%
.-header
    background -webkit-linear-gradient(top, #f9f9f9, #f2f2f2)
.rt-tr-group
    cursor pointer
    &:hover
        transition:  all 1s
        background: #efefef