body
    background: url('./../../../Assets/images/main-back.png')

.form
    padding:  15px !important
    input[type=submit],a
        margin-top 25px
    a
        margin-left 20px
    .error-form
        color red
section.Work
    height 37vh !important
    background: white
