body
    background: url('./../../../Assets/images/main-back.png')

.form
    padding:  15px !important
    input[type=submit],a
        margin-top 25px
    a
        margin-left 20px
    .error-form
        color #e74c3c
section.Work
    height 37vh !important
    background: white
.modal-icon-error
    font-size: 25px
    color #e74c3c
    margin-right: 15px

.modal-icon-success
    font-size: 25px
    color #16a085
    margin-right: 15px
    
.modal-text-error
    color #e74c3c
    text-shadow: 1px 1px 3px #afafaf
.modal-text-success
    color #16a085
    text-shadow: 1px 1px 3px #afafaf
.success-border
    border-top 5px solid #16a085
.error-border
    border-top 5px solid #e74c3c
