.ReactTable
    width: 98%
    margin 10px 1%
    .rt-thead.-header
        box-shadow none !important
        border-bottom thin solid rgba(0,0,0,.3)
    .-pagination
        box-shadow none !important
    .rt-tbody
        font-size: 12px !important