.Header
    background -webkit-linear-gradient(top, #f9f9f9, #f2f2f2)
    padding 5px
    align-items center
    .Header-title
        p
            margin 0
            svg
                margin-right 8px