.Header-notificaciones
    a
        margin 0
        text-decoration: none
        color #666
        &:hover
            text-decoration: none
            color #666
        svg
            margin-right: 15px
        span
            margin 0 5px
            padding 3px 5px
            background: #e55039
            color: #fff
            border-radius: 5px
            border thin solid rgba(0,0,0,.2)

    .animate
        animation: new 3s infinite
        

@keyframes new
    0%
        transform: rotate(0deg)
        color: red
    50%
        transform: rotate(45deg)
        color: red
    100%
        transform: rotate(-45deg)
        color: red

