    .Header-user
        
        position relative
        cursor pointer
        p
            margin:0
        .fa-user
            margin-right 8px
        .fa-caret-down
            margin-left: 8px
        .Header-user-submenu
            ul
                list-style none
                padding 8px
                margin 0
                border:thin solid rgba(0,0,0,.3)
                border-radius 10px
                position absolute
                top 25px
                left 6px
                width 300px
                background: #fff
                li
                    a
                        display block
                        padding 5px 0
                        text-decoration: none
                        color #666
                        &:hover
                            color black
                            text-shadow: 1px 1px 2px #666
                        svg
                            margin-right: 10px
    div.Header-user:hover > div.Header-user-submenu
            display block