<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Modulo Juridico</title>
	<link rel="stylesheet" type="text/css" href="\SIA\juridico\Dev\Assets\css\normalize.css">
	<link rel="stylesheet" type="text/css" href="\SIA\juridico\Dev\Assets\css\dashboard_dev_personal.css">
</head>
<body>
	<header>
		{% include '/HomeLayout/Header.twig'  %}
	</header>
	
	<aside>
		{% include '/HomeLayout/Navigation.twig' %}
	</aside>
	<main>
		<div id="root"></div>
	</main>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</body>
</html>