.Header
    align-items: center
    color: #666
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2)
    border-bottom thin solid rgba(0,0,0,.3)
    margin-right: 0px !important
    font-size 14px !important