
body{
	line-height: 22px;
	color:#666;
	background: #343434 url(../images/back.png);
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

/*------------Header --------------------------*/
header{
	background:-webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
	color:#666;
}

header a{
	text-decoration: none;
	color: #666;
}

.Header{
	display: flex;
	border-bottom:thin solid rgba(0,0,0,.3);
	box-shadow: 2px 0px 2px rgba(0,0,0,.3);
	align-items: center;
}

.Header-logo{
	width: 200px;
	margin-right: 2%;
}


.Header-logo img{
	width: 85%;
	padding:3% 5%;
	cursor: pointer;
}

.Header-cuenta{
	width: 220px;
	
}

.Header-module{
	width: 300px;
	margin-right: 2%;
	text-align: center;
	font-size: 25px;
	
}


.Header-module p{
	margin: 2px;
}

.Header-notifications{
	width: 200px;
	margin-right: 2%;
	text-align: center;
	cursor:pointer;

}


.Header-notifications svg{
	margin-right: 5px;
}

.Header-user{
	width: 345px;
	text-align: left;
	display: block;
	cursor: pointer;
	position: relative;
	
}

.Header-user p svg{
	margin-right:5px;
}


.Header-user-submenu{
	position: absolute;
	top:40px;
	left:0;
	background: white;
	border-radius: 5px;
}

.Header-user-submenu a{
	width: 150px;
	display: block;
	padding: 5px;
	margin-bottom: 5px;
}

.Header-user-submenu a:hover{
	background: #666;
	color:white;
}


.Header-user .Header-user-submenu {
	display: none
}

.Header-user:hover > .Header-user-submenu {
	display: block;
}


/*-------------Main Container-----------------------*/

main{
	display: flex;
}


div.line-header{
	height: 18px;
	width: 100%;
	display: block;
	background: url(../images/cream.png);
	border-bottom: thin solid  rgba(0,0,0,.3);
}

/*------------------ Menu -------------- */




aside{
	background: #343434 url(../images/cream.png);
	width: 17%;
}

.Navigation ul{
	list-style: none;
}

.Navigation-menu{
	margin:0;
	padding: 0;
	cursor: pointer;
}

.Navigation-menu-item{
	border:1px solid rgba(0,0,0,.2);
	padding:15px 10px;
	
}


.Navigation-menu-item-container{
	display: flex;
	align-items: center;
}

.Navigation-menu-item a{
	align-items: center;
	color: #666;
	display:flex;
	text-decoration: none;
}


.Navigation-menu-item  span{
	margin-left:15px;
	width: 150px;
}

.Navigation-menu-icon{
	background: #eee;
	border-radius: 50%;
	border:1px solid rgba(0,0,0,.3);
	color:#888;
	height: 30px;
	text-align: center;
	width: 30px;
}

.Navigation-menu-icon svg {
	margin-top: 7px;
}


.Navigation-menu-arrow svg {
	font-size: 20px
}

.Navigation-submenu{
	display: none;
}


.Navigation-submenu{
	padding: 0;
	border:none;
	border-bottom: thin solid rgba(0,0,0,.2)
}



.Navigation-menu-item:hover > ul {
	transition: all 10s;
	display: block;

}

.Navigation-submenu li{
	
	padding: 10px;
	font-size: 14px;
	border-bottom: thin solid rgba(0,0,0,.1)
}