
.modal-icon-error
    font-size: 25px
    color #e74c3c
    margin-right: 15px

.modal-icon-success
    font-size: 25px
    color #16a085
    margin-right: 15px

.modal-icon-question
    font-size: 25px
    color #2c3e50
    margin-right: 15px
    
.modal-text-error
    color #e74c3c
    text-shadow: 1px 1px 3px #afafaf
.modal-text-success
    color #16a085
    text-shadow: 1px 1px 3px #afafaf
.modal-text-question
    color #2c3e50
.success-border
    border-top 5px solid #16a085
.error-border
    border-top 5px solid #e74c3c
.question-border
    border-top 5px solid #26bce0
.btn-modal-inline
    width 40px
    margin auto 5px auto 15px
.block
    display block 
.Modal-datos-cuenta
    display flex
    width 730px
.Modal-search-auditoria
    width 730px
.rt-noData
    background: rgba(0,0,0,.3) !important
    color black !important
.margin-right
    margin-right 20px