.Form
    padding 8px
.bottom
    margin-bottom: 15px !important

input.save
    margin-right: 15px !important
.editor
    width 100% !important
    height 280px
.Form-save-button
    margin-top: 50px !important