.Form
    padding 8px
.bottom
    margin-bottom: 15px !important

input.save
    margin-right: 15px !important
.editor
    width 100% !important
    height 280px
.Form-save-button
    margin-top: 50px !important
input[type=submit]
    margin-right: 20px !important
.center
    text-align center

.react-time-picker__clock
    display: none !important
.react-time-picker__button
    border none !important

button.closeVolante
    margin-left 20px
    color:white
    svg
        margin-right:8px