.Work-header
    display flex
    align-items center
    background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2)
    border-bottom thin solid rgba(0,0,0,.2)
    padding 5px
    color #666
    .Work-header-text
        width 20%
        p
            margin 0
            padding 0px 10px
            font-weight: bold
        svg
            margin-right 8px
    .Work-header-button-add
        width: 15%
        margin-left 68%
        